@font-face {
  font-family: 'agency';
  font-weight: bold;
  src: url("~assets/fonts/AGENCYB.TTF");
}
@font-face {
  font-family: 'agency';
  src: url("~assets/fonts/AGENCYR.TTF");
}
@font-face {
  font-family: 'agencyfb';
  src: url('~assets/fonts/agencyfb-regular.otf');
}
@font-face {
  font-family: 'NeoSans';
  font-weight: bold;
  src: url('~assets/fonts/NeoSansStdBold.otf');
}
@font-face {
  font-family: 'NeoSans';
  src: url('~assets/fonts/NeoSansStdRegular.otf');
}
@font-face {
  font-family: 'NeoSans';
  font-weight: lighter;
  src: url('~assets/fonts/NeoSansStdLight.otf');
}
@font-face {
  font-family: 'NeoTech';
  font-weight: bold;
  src: url('~assets/fonts/NeoTechStd-Bold.otf');
}
@font-face {
  font-family: 'NeoTech';
  font-weight: medium;
  src: url('~assets/fonts/NeoTechStd-Medium.otf');
}
@font-face {
  font-family: 'NeoTech';
  src: url('~assets/fonts/NeoTechStd-Regular.otf');
}
:root {
  --main-color: rgb(20,73,137);
  --main-color-dark: rgb(22,53,95);
  --main-font-bold: agencyBold;
  --main-font: Roboto;
  --secondary-font: NeoSans;
  --thirdy-font: Neotech;
}
a, a:hover, a:visited, a:active {
  text-decoration: none;
}
.container {
  width: auto;
  padding: 12vh 10vw;
}
.container-fluid {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
h1, h2, h3, h4, h5, p, a {
  font-family: var(--main-font), sans-serif;
}
hr {
  border: none;
  height: 2vh;
}
h1{
  font-size: 3vw;
  padding: 0px;
  margin: 0px;
}
h2{
  font-size: 2.6vw;
  padding: 0px;
  margin: 0px;
}
h3{
  font-size: 2.1vw;
  padding: 0px;
  margin: 0px;
}
h4{
  font-size: 1.6vw;
  padding: 0px;
  margin: 0px;
}
h5{
  font-size: 1.1vw;
  padding: 0px;
  margin: 0px;
}
p{
  font-size: 1.1vw;
  padding: 0px;
  margin: 0px;
}
body{
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}
html{
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}
ul{
  list-style-type:none;
}
